
div  {
    color: blueviolet;
    padding: auto;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    padding: 100px;
}
p {
    color: blueviolet;
    padding: auto;
    margin: auto;
    justify-content: center;
}

#idclass {
    color: brown;
    background-color: rgb(6, 28, 20);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
